// ==============
// Global imports
// ==============
@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";




.cover {
  margin-top:5%;
  margin-bottom:5%;
  text-align:center;
  @media #{$brk-spnarrow} {
      margin-top:15%;
      margin-bottom:25%;
    }
}

h1 {
  @media #{$brk-spnarrow} {
    font-size: 2.5em;
  }
}

.subtitle {
	font-size: 1.7em;
    line-height: 1.5em;
    font-weight: 300;
    color: #383e47;
}


.credits {
  color:$main-text;
  font-size: 1.3em;
  line-height: 1.7em;
  font-weight: 300;
  & span {
    font-weight: bold;
  }
  &.date {
    margin-top:1em;
    font-size:1.1em;
    font-weight:300;
  }
}


.new-section p {
  margin-bottom:2em;
}

p  {
    &.first{
    margin-top: 3.5em;
    &::first-letter {
    float: left;
    margin: 0 20px 0 0;
    font-size: 52px;
    font-weight: bold;
    padding: 10px;
    line-height: 1;
    }
  }
    & span {
      background: rgba(195,232,224,0.5);
      padding: 1px;
    }
    & span.itallic {
      background: none;
      font-style: italic;
    }
    &.parallax-note {
    @include text(1.2em, 1.7em, normal, #969696);
    color:#fff;
    padding:20px;
    & span {
      background: rgba(53,151,143,1);
    }
    }
}



.quote {
  margin-top:1em;
  margin-bottom:5em;
  font-size: 2.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #211A23;
  &::before {
    font-family: Arial;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em;
    @media #{$brk-spnarrow} {
      font-size: 7em;
    }
  }
}

.disclaimer {
  font-size: 1.3em;
}

 h2.disclaimer {
   margin-top: 5em;
   font-size: 2em;
   font-weight: 800;
   border-top: 3px solid #383e47;
   padding-top: 0.5em;
   width: 27%;
   @media #{$brk-spnarrow} {
      margin-top: 5em;
      width: 100%;
   }
}

.new-section {
  margin-top: 5%;
}

.map {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.mobile {
  display: none;
  @media #{$brk-narrow} {
    display: block;
  }
}

.desktop {
  display: block;
  @media #{$brk-narrow} {
    display: none;
  }
}

.read-more {
  margin-bottom: 15px;
}




.parallax {
  [class*="bg-"] {
    position : relative;

    height : 100vh;
    background-attachment : fixed;
    background-position   : top center;
    background-size       : cover;

    @media #{$brk-narrow} {
      background-attachment : scroll;
      margin-top:5em;
    }
    
    &:nth-child( 2n ) {
      box-shadow : inset 0 0 1em #111; 
    }
  }
  
  .bg-chicago {
    background-image : url(../img/chicago-green-roof.jpg);
  }
  .bg-sf {
    background-image : url(../img/sf-green-roof.jpg); 
  }
  .bg-nyc {
    background-image : url(../img/nyc-green-roof.jpg); 
  }
  .bg-singapore {
    background-image : url(../img/singapore-green-roof.jpg); 
  }
  .bg-kyiv {
    background-image : url(../img/kyiv-green-roof.jpg);
  }

}

