html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: $main-text;
    width: 100%;
    /*footer height plus padding*/
    margin-bottom: 200px;
}

a {
    color: inherit;
    text-decoration: none;
    &:link {
        text-decoration: none;
    }
    &:hover {
        color: #FAA61A;
    }
    &.dotted {
    /*for links*/
    color: #4b444d;
    border-bottom: 2px dotted #cccccc; }
}


h1 {
  @include text(3.5em, 1.5em, bold);
}

h2 {
  @include text(2em, 2em, bold);
}

h3 {
  @include text(1.8em, 2.2em, normal);
}

p {
    @include text(1.6em,1.9em);
}
